/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 6 version
*/

body{
    padding: 0;
    background-color: black;
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
    font-weight: lighter;
}
/* burger */


/* menu */




header{
    display: none;
}
.scroll-up p{
    color: rgba(255, 255, 255, 0.459);
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
}
.scroll-up{
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.scroll-up img{
    width: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}





/* main page */
.main-icons{
    display: none;
}
.main-page .name{
    text-align: center;
    margin-top: 100px;
}
.main-page .name p{
    color: white;
    font-size: 50px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

.main-page .name p:last-child{
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    
}
.main-page .name h2{
    position: relative;

}
.main-page .name p:first-child{
    -webkit-animation-name: nino;
            animation-name: nino;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;

}
@-webkit-keyframes nino{
    from{-webkit-transform: translateX(-500px);transform: translateX(-500px);}
    to{-webkit-transform: translateX(0);transform: translateX(0);}
}
@keyframes nino{
    from{-webkit-transform: translateX(-500px);transform: translateX(-500px);}
    to{-webkit-transform: translateX(0);transform: translateX(0);}
}

.main-page .name p:nth-child(2){
    -webkit-animation-name: khutso;
            animation-name: khutso;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}
@-webkit-keyframes khutso{
    from{-webkit-transform: translateX(400px);transform: translateX(400px);}
    to{-webkit-transform: translateX(0);transform: translateX(0);}
}
@keyframes khutso{
    from{-webkit-transform: translateX(400px);transform: translateX(400px);}
    to{-webkit-transform: translateX(0);transform: translateX(0);}
}

.button-wraper{
    text-align: center;
}
.project-button{
    margin-top: 30px;
    background-color:#D70028;
    border: none;
    color: white;
    border-radius: 20px;
    width: 200px;
    height: 50px;
   
    cursor: pointer;
}
.project-button a{
    color: rgb(255, 255, 255);
    padding: 2%;
    font-weight: lighter;
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;

}
.project-button:hover{
    opacity: 0.7;
}
.button{
    margin-top: 25px;
    margin-bottom: 5px;
    background-color:#D70028;
    border: none;
    color: white;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}
.button:hover{
  opacity: 0.7;
}
.button p{
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.photo{
    text-align: center;
    margin-top: 60px;
}
.divider{
    height:2px;
    width: 50px;
    border-radius: 10px;
    opacity: 0.5;
    margin: 0 auto;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
}
/* projects */
.projects{
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
}

.projects p{

    margin: 0 auto;
    margin-top: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 27px;
    width: 270px;
    color:  rgba(255, 255, 255, 0.459);
}


/* about */
.about div h1{
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 60px;
    margin-bottom: 80px;
    color: white;
}


.about div p{
    margin: 0 auto;
    margin-top: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 27px;
    width: 270px;
    color:  rgba(255, 255, 255, 0.459);
}
.about div p span{
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 30px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 40px;
    width: 270px;
    color:  rgb(255, 255, 255);
}
/* skills */

.skills{
    padding: 2%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.459);
    list-style: none;
    text-transform: capitalize;
}
.skills h1{
    text-align: center;
    font-size: 60px;
    text-transform: lowercase;
    color: white;
}


.skills .code{
    width: 150px;
    margin: 0 auto;
}

.bar{
    margin-top: 20px;
    display: block;
    height: 10px;
    border:1px solid #d7002773;
    border-radius: 2px;
    overflow: hidden;
}
.bar span{
    height: 8px;
    float: left;
    background: #D70028;
    border-radius: 2px;
}
.html{
    width: 70%;
}
.css{
    width: 40%;
}
.JavaScript{
    width: 7%;
}
.ai{
    width: 80%;
}
.ps{
    width: 50%;
}
.ae{
    width: 15%;
}
.both{
    margin-top: 100px;
    
}
.both li{
    margin-top: 20px;
}

/* experience */

.xp{
    text-align: center;
    color: rgba(255, 255, 255, 0.459);
}
.xp h1{
    font-family: 'Fira Sans', sans-serif;
    font-size: 60px;
    margin-bottom: 50px;
    color: white;
}
.number{
    font-size:170px;
    font-family: 'Fira Sans', sans-serif;
    color: #D70028;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-animation-name: number;
            animation-name: number;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count:infinite;
            animation-iteration-count:infinite;
}
 
.error{
    font-size: 40px;
}
.exp{
    font-size: 40px;
}


/* contact */
.forms{
    width:300px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.submit{
    display: none;
}
.email{
    margin-bottom:30px ;
    text-decoration: none;
    border: none;
    width: 130px;
    height: 33px;
    color: rgba(255, 255, 255, 0.459);
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    background-color: #3D3D3D;
    border-radius: 10px;
    padding-left: 7px;
}
textarea{
    -webkit-text-decoration-color: white;
            text-decoration-color: white;
    resize: none;
    border: none;
    width: 300px;
    height: 100px;
    color: rgba(255, 255, 255, 0.459);
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    background-color: #3D3D3D;
    border-radius: 10px;
    padding: 2%;
    margin-top: 20px;
    
}
.firstline-form{
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.send-button{
    background-color:#D70028;
    padding: 2%;
    border: none;
    border-radius: 10px;
    width: 60px;
    height: 33px;
    text-align: center;
}
.send-icon{
    margin-left: 5px;
    margin-top: 2px;
    width:25px;
}

h1{
    font-family: 'Fira Sans', sans-serif;
    font-size: 60px;
    color: white;
}
.contact{
    text-align: center;
    margin-bottom: 100px;
}


/* footer */
.footer-divider{
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    height:2px;
    width: 50px;
    border-radius: 10px;
    opacity: 0.5;
    background-color: white;
}
.info{
    margin-top: -10px;
    height: 150px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 100px;
}
.info h6{
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
    color: white;
}
.info div a{
    font-family: 'Fira Sans', sans-serif;
    font-size:20px;
    color: rgba(255, 255, 255, 0.445);
    

}
.info-incontact{
    display: none;
}

/* footer social */
.footer{
    margin-top: -400px;
}
.social{
    margin-top: 100px;
    width: 100%;
    height: 80px;
    background-color:#ffffff2a ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    vertical-align: middle;
}
.social p{
    font-family: 'Fira Sans', sans-serif;
    font-size:10px;
    color: rgba(255, 255, 255, 0.445);
    margin-top: 40px;
}
.social a{
    margin-top:20px;
}
.social a:nth-child(2){
    margin-top:25px;
}
.git-lg{
    width: 40px;
}
.fb-lg{
    width: 35px;
}

.main-icons{
    display: none;
}








/* responsive */












@media (min-width:1024px){

    .scroll-up{
        display: none;
    }

    
    body{
        width: 100%;
        padding: 0;
        position: relative;
    }

    
    .main-icons{
        position: relative;
        left: 95%;
        top: 40%;
        height: 200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        position: fixed;
    }
    .main-icons img{
        width: 30px;
        opacity: 0.5;
    }
    .main-icons img:hover{
        opacity: 1;
    }

    
    
    .header{
        background-color: black;
        padding: 2%;
        display: inline-block;
        width: 100%;
        position: fixed;
        padding-bottom: 50px;
        z-index: 9999;
    }
    .nav-links{
        width: 60%;
    }
    .header nav ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .header nav ul li a{
        color: white;
        font-size: 20px;
        font-family: 'Fira Sans', sans-serif;
    }
    .header nav ul li a:focus-within{
        color: #D70028;
    }
    .header nav ul li a:hover{
        color:#D70028;
    }
    .main {
        padding: 5%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .name p{
        font-size: 150px;
        text-align: left;
        display: block;
    }
    .button-wraper{
        text-align: left;
        
        
        -webkit-animation-name: hireme;
        
        
                animation-name: hireme;
        -webkit-animation-duration: 2.5s;
                animation-duration: 2.5s;
    }
    
    .photo img{
        width: 300px;
    }
    
    .name {
        -webkit-animation-name: name;
                animation-name: name;
        -webkit-animation-duration: 3s;
                animation-duration: 3s;
    }
  

    /* about */
  
    .about{
        height: 100vh;
    }
    .about div p{
        width: 70%;
    }
    
    /* skills */

   
    .skills-1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .both{
        width: 400px;
    }

    
    
   /* contact */
   .forms{
    width: 100%;
    margin: 0;
    
    
}
.submit{
    display: none;
}
.contact{
    text-align: center;
}
.email{
    text-decoration: none;
    border: none;
    width: 130px;
    height: 33px;
    color: rgba(255, 255, 255, 0.459);
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    background-color: #3D3D3D;
    border-radius: 10px;
    padding-left: 7px;
}
.form-box input{
    height: 60px;
    width: 300px;
}
.form-wraper{
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
textarea{
    
    width: 500px;
    height: 200px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    padding: 2%;
    margin-top: 20px;
    
}
.firstline-form{
   width: 500px; 
   
}
.send-button{
    
    width: 100px;
    height: 60px;
   
}
.send-icon{
    margin-left: 5px;
    margin-top: 2px;
    width:25px;
}
.contact-wraper{
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    
}
h1{
    font-family: 'Fira Sans', sans-serif;
    font-size: 60px;
    color: white;
}
.contact{
    text-align: center;
    margin-bottom: 100px;
}

.info-incontact{
    margin-top: -10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.info-incontact h6{
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
    color: white;
    
}
.info-incontact{
    height: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.info-incontact a{
    font-family: 'Fira Sans', sans-serif;
    font-size:20px;
    color: rgba(255, 255, 255, 0.445);
    margin-top: 15px;
}
.info{
    display: none;
}

    /* footer */

    .footer-divider{
        display: none;
    }
    
    
    .mail{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}